*{
  padding:0;
  margin:0;
  overflow-x:hidden;
}
.home{
  
  max-width:1920px;
height:auto;
}
#logo{
  width:10%;
  height:40px;
  
}
.navigation{
  width:100%;
  height:100vh;
  
  background-image: url("../src/images/hero.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
nav{
  
  height:50px;
  width:95%;
  margin:20px auto;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.hamburger{
  
display:none;
}
.hamburger div{
  width: 35px;
  height: 5px;
  background-color: #10b6e4;
  margin: 6px 0;
}
.menu{
  
  width:46%;
  display:flex;
  align-items:center;
  
}
.menu_items{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:white;
  

}
.menu_items li{
list-style:none;
font-size:16px;
}
.hero{
  display:flex;
  flex-direction:row;
 padding:10px;
  
  
}
.hero_box{

width:70%;
margin:14% auto 0px auto;
}
.hero_box h1{
  font-size:50px;
  color:white;
  font-weight:600;
  width:70%;
}
span{
  color:rgb(255,40,167);
}
.join{
  border-radius:25px;
  padding:15px 20px;
  background-image: linear-gradient(to left top, #00d2ff, #00bdf9, #00a8f1, #0f92e5, #3a7bd5);
  color:white;
  font-size:16px;
  font-weight:500;
  border:none;
  cursor:pointer;
}
.hero_data{
  
  margin:30px auto;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.price{
  color:white;
  
  margin-left:40px;
  display:flex;
  flex-direction: row;
  width:30%;
  justify-content:space-between;
}
.price_heading{
  
  width:45%;
}
.price_number{
  width:55%;
  
}
.current{
  color:#2b98ba;
}
.price p{
  margin-bottom:5px;
  font-weight:600;
}
.social_icons{
  width:5%;
  
  margin-top:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.social_icons img{
  height:25px;
  width:25px;
  margin-bottom:30px;
}
.website_info{
  background-color:rgb(6,6,16);
  
}
.About{
  
  width:85%;
  margin:20px auto;
 display:flex;
 flex-direction: row;
 justify-content: space-between;
}
.about_image{
  
  width:40%;
}
.about_image img{
  height:300px;
  width:100%;
  opacity:0.3;
  object-fit:cover;
}
.about_data{
  width:55%;
  
  margin:80px 0px;
}
.about_data_heading{
  display:flex;
  align-items: center;
  
}
.features_heading{
  justify-content:center;
}

.about_data_heading img,.roadmap_data_heading img{
  height:35px;
  width:35px;
}
.about_data_heading h1,.roadmap_data_heading h1{
  color:white;
  margin-left:5px;
  font-size:35px;
  font-weight:500;
  letter-spacing:1.5px;
}
      
.about_data p{
  color:#607290;
  margin-top:20px;
  line-height: 1.5;
  font-size:17px;
  letter-spacing: 0.3px;
}
.features{
  width:85%;
  
  margin:30px auto;
  background-image:url("../src/images/earth.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}
.features_text{
  
  text-align:center;
  margin:30px auto 0px auto;
  width:80%;
}
.features_text p{
  color:#607290;
  line-height: 1.5;
  font-size:18px;
  letter-spacing: 0.3px;
}
.features_list{
  
  width:85%;
  margin:15% auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature_details{
  
text-align: center;
width:29%;
}
.feature_details p{
  color:#607290;
  font-size:17px;
  line-height:1.5;
  margin:20px auto 0px auto;
  letter-spacing:0.3px;
  width:87%;
}
.feature_details h1{
  font-size:24px;
  color:white;
}
.roadmap{
  width:85%;
  
  margin:30px auto;
}
.roadmap_data_heading{
  text-align: center;
}
.roadmap_details{
  width:60%;
  
  margin:60px auto;
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
}
.divider{
width:10px;
height:180px;
background-color:rgb(255,40,167);
}
.roadmap_data1{
  width:100%;
  
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.july_2022{
  
  width:30%;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:flex-end;
}
.june_2022{
  
  width:30%;
  display:flex;
  flex-direction:column;
 margin-top:10px;
  
}
.sept{
  margin:0px;
}
.july_2022 p,.june_2022 p{
  color:white;
  font-size:18px;
  margin-bottom:5px;
}
.left_hr{
  background-color:#23293b;
  border-color:#23293b;
  height:0.5px;
  width:7%;
  margin-top:100px;
  margin-left:20px;
}
#july_heading{
  
  color:#607290;
}
#bsc{
  margin-bottom:10px;
}
.right_hr{
  background-color:#23293b;
  border-color:#23293b;
  height:0.5px;
  width:7%;
  margin-top:22px;
  margin-right:20px;
}
.sept_hr{
  margin-top:15px;
}
#last_hr{
  visibility:hidden;
}
.roadmap_last_data{
  border:none;
  margin-right:2px;
}
.divider_grey{
  background-color:#23293b;
}
.last_divider{
  height:80px;
}
.benefits{
  
  width:80%;
  margin:9% auto 0px auto;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
.benefits_list{
  width:50%;
  
  display:flex;
}
.benefits_details{
  width:48%;
  
  margin-top:20px;
}
.benefits_first_row{
  width:50%; 
  display:flex;
  flex-direction: column;
}
.global{
  border:1px solid  #23293b;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
 padding:30px 0px;
}
.global p{
  color:white;
  margin-top:10px;
}
.benefits_details p{
  color:#607290;
  margin-top:20px;
  width:90%;
  font-size:18px;
}
.whitepaper{
  border-radius:25px;
  padding:10px 35px;
  background-image: linear-gradient(to left top, #00d2ff, #00bdf9, #00a8f1, #0f92e5, #3a7bd5);
  color:white;
  font-size:16px;
  font-weight:500;
  margin-top:35px;
  border:none;
  cursor:pointer;
}
.whitepaper img{
  margin-right:7px;
}
.usability{
  padding:30px 0px 33px 0px;
}
.team_section{
  
  background-image:url("../src/images/stars.png");
  background-repeat:no-repeat;
  background-position: center;
  margin:18% 0px;
}
.team{
  
  width:80%;
  margin:0px auto;
 
}
.team_text{
  text-align:left;
}
.team_members{
  
  width:90%;
  margin:5% auto;
  display:flex;
  flex-direction:row;
  padding-top:15px;
  
}
.member{
  
  width:22%;
  text-align: center;
  padding-top:10px;
  height:300px;
  margin-right:40px;
}
.member:last-child{
  margin-right:0px;
}
.member img{
  height:140px;
  width:140px;
  border-radius:50%;
  margin-top:30px;
  margin-bottom:15px;
  /* box-shadow: 15px -13px 38px 1px rgba(18,134,203,0.75); */
  box-shadow: 10px -13px 38px 1px rgba(18,134,203,0.75);
}
.member p{
  color:#607290;
  margin-top:5px;
  font-size:16px;
}
.member h2{
  color:white;
  font-weight:500;
}
.subscribe_section{
  background-image:url("../src/images/footer.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribe{
  width:80%;
  
  margin:0px auto;
 
}
.subscribe_details{
  
  width:50%;
  margin:0px auto 15% auto;
  text-align: center;
}
.subscribe_details img{
  width:150px;
  height:40px;
}
.email{
  background-color:#23293b;
 display:flex;
 align-items:center;
 justify-content:space-between;
  margin:45px auto;
  border-radius:24px;
  padding-left:25px;
  cursor:pointer;
}
input{
 border:none;
  background-color:#23293b;
  width:50%;
  outline:none;
  cursor:pointer;
  
}
.subscribe_button{
  padding:15px 30px;
  background-image: linear-gradient(to left top, #00d2ff, #00bdf9, #00a8f1, #0f92e5, #3a7bd5);
  color:white;
  font-size:16px;
  font-weight:500;
  border-radius:24px;
  border:none;
  cursor:pointer;

}
.social_media_links{
  display:flex;
  align-items:center;
  justify-content:space-between;
  
  width:70%;
  margin:45px auto;
}
.social_media_links img{
  height:25px;
  width:25px;
  border:1px solid #607290;
  border-radius:50%;
  padding:10px;
}
.copyright{
  width:55%;
  
  margin:50px auto;

}
.copyright p{
  font-size:18px;
  color:#607290;
}

.mobile_roadmap{
  
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:90%;
  margin:60px auto;
  display:none;
}
.mobile_divider{
  
  width:5%;
}
.full_divider{
  width:10px;
  height:180px;
  background-color:rgb(255,40,167);
}
.rest_divider{
  background-color:#23293b;
  width:10px;
  height:750px;
}
.mobile_roadmap_details{
  
  width:75%;
}
.mobile_june{
  width:100%;
}
.mobile_july{
  width:100%;
  align-items:flex-start;
  justify-content:flex-start;
  margin:25px 0px;
}
.mobile_july p:first-child{
font-size:20px;
}
.mobile_june p:first-child{
  font-size:20px;
}
.mobile_july p,.mobile_june p{
  margin-bottom:0px;
}
.about_join_button{
  display:none;
}







/* Media queries */
@media(max-width:1068px){
.hamburger{
  display:block;
}
.menu{
  display:none;

}
.member img{
  height:120px;
  width:120px;
}
.member p{
  font-size:14px;
}
.member h2{
  font-size:20px;
}
#logo{
  width:15%;
  height:45px;
  
}
}

@media(min-width:370px){
  nav{
    width:90%;
    height:40px;
  }
  #logo{
    width:35%;
    height:40px;
    
  }
  .feature_details p{
    margin:5px auto;
  }
  .navigation{
   
    background-image:linear-gradient(180deg, #f62da96f 0%, #070707 100%),url("../src/images/hero_mobile.jpg");
    height:auto;
    background-size:cover;
    background-repeat: no-repeat;
    width:auto;
   
    
  }
  .hero{
    display:flex;
    flex-direction:column;
  }

  .hero_box{
    width:90%;
    margin:20px auto 0px auto;
    }
    .hero_box h1{
      font-size:35px;
      width:100%;
    }
    .hero_data{
      margin:50px auto;
      flex-direction:column-reverse;
     
    }
    .price{
      margin-left:0px;
    }
    .join{
      margin-top:30px;
    }
   
    .social_icons{
      display:flex;
    flex-direction: row;
    width:80%;
    margin:0px auto;
    align-items:center;
  justify-content:center;
  
    }
    .social_icons img{
   margin-right:30px;
    }
    .social_icons img:last-child{
      margin-right:0px;
          }
    
    .about_image{
      display:none;
    }
    .about_data{
      width:100%;
      margin:0px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    }
    .about_data_heading img,.roadmap_data_heading img{
      height:30px;
      width:30px;
    }
    .about_data_heading h1,.roadmap_data_heading h1{
      font-size:30px;
    }
    .features_text p{
      font-size:16px;
    }
    .about_data p{
      font-size:16px;
    }
    
    .features{
      
      margin:90px auto;
      background-size: contain;
   
    }
    .features_list{
      margin:15% auto 5% auto;
      display:flex;
      flex-direction: column;
     
    }
    .feature_details{
     margin-bottom:40px;
    width:100%;
    }
    .feature_details p{
      font-size:16px;  
    }
    .feature_details h1{
      font-size:20px;
    }
    .roadmap_data_heading{
     
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .benefits_list{
  
      display:none;
    }
    .benefits_details{
      width:100%;
      margin-top:20px;
      text-align:center;
    }
    .benefits_details p{
      width:100%;
      font-size:16px;
    }
    .benefits_heading{
      display:flex;
      align-items:center;
      justify-content:center;
    }
   
    .benefits_heading h1{
      font-size:25px;
     
    }
    .benefits{
      width:85%;
    }
    .team{
      text-align:center;
    }
    .team_text{
      text-align:center;
    }
    .team_heading{
      justify-content:center;
    }
    .team_members{
     
      display:flex;
      flex-direction:column;
      
    }
    .member{
     
      width:100%;
      margin-right:0px;
    }
    .member img{
      height:140px;
      width:140px;
    }
    .subscribe{
      width:85%;
      margin:50px auto;
     
    }
    .subscribe_details{
      width:100%;
      margin:0px auto 15% auto;
      
    }
    .social_media_links{

      width:90%;
      margin:20px auto;
    }
    .social_media_links img{
      height:20px;
      width:20px;
    }
    .copyright{
      width:90%;
      
      margin:10px auto 50px auto;
    
    }
    .copyright p{
      font-size:16px;
     
    }
    .email{
      margin:30px auto;
    }
    .mobile_roadmap{
      
      display:flex;
    }
    .roadmap_details{
      display:none;
    }
    .price{
    
      margin-left:0px;
      display:flex;
      flex-direction: column;
      width:100%;
   
    }
    .price_heading{
     display:flex;
      width:100%;
      justify-content:center;
    }
    .price_number{
    display:flex;
    width:100%;
    justify-content:center;
    }
    .price_number p{
      margin-left:5px;
    }
    .price_heading p{
      margin-left:5px;
    }
    .about_join_button{
      display:block;
    }
        
}

@media(min-width:500px){
  #logo{
    width:150px;  
  }
 
  .mobile_roadmap{

    width:80%;
  }
  .hero_box h1{
    font-size:40px;
  }
  /* .navigation{
height:100vh;
  } */
}
@media(min-width:700px){

  .hero_box h1{
    font-size:45px;
  }

  .mobile_roadmap{

    width:70%;
  }
  .about_data{
    margin:50px 0px;
  }
  .navigation{
    background-image: linear-gradient(180deg, #f62da935 0%, #070707 100%),url("../src/images/hero.jpg");
    background-repeat:no-repeat;
  background-size: cover;
  background-position: center;

  }
}
@media(min-width:800px){

  .hero_box h1{
    font-size:50px;
  }
  .price{

    margin-left:40px;
    display:flex;
    flex-direction: row;
    width:40%;
    justify-content:space-between;
  }
  .price_heading{
  
    width:45%;
    flex-direction: column;
  }
  .price_number{
    width:55%;
    flex-direction: column;
  }
  .hero_data{

    margin:30px auto;
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .price_number p{
    margin-left:0px;
  }
  .price_heading p{
    margin-left:0px;
  }
  .join{
    margin-top:0px;
  }
  .about_join_button{
    margin-top:30px;
  }
  .features_list{
   
    width:85%;
    margin:15% auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_roadmap{

    width:40%;
   
  }
  .social_media_links{
    width:70%;
    margin:45px auto;
  }
  .social_media_links img{
    height:25px;
    width:25px;
  }
  .email{
   width:80%;
    margin:45px auto;
  }
  .subscribe{
    width:80%;
    margin:0px auto;
   
  }
  .copyright p{
    font-size:18px;
   
  }
  .features_text p{
    font-size:18px;
  }
  .about_data_heading h1,.roadmap_data_heading h1{
    font-size:35px;
  }
  .about_data_heading img,.roadmap_data_heading img{
    height:35px;
    width:35px;
  }
  .about_data p{
    font-size:17px;
  }
  .feature_details{
  text-align: center;
  width:30%;
  }
  .feature_details p{
    font-size:17px;  
  }
  .feature_details h1{
    font-size:24px;
  }
  .benefits_details p{
    margin-top:20px;
    width:90%;
    font-size:18px;
  }

 
}

@media(min-width:1000px){
  .mobile_roadmap{
      
    display:none;
  }
  .roadmap_details{
    display:flex;
    width:70%;
  }
  .hero_box{
 
    width:600px;
    margin:14% 20% 0px 15%;
    }
    .social_icons{
      width:5%;
      margin-top:10%;
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    
    .social_icons img{
      height:25px;
      width:25px;
      margin-bottom:30px;
      margin-right:0px;
    }
    .hero{
      display:flex;
      flex-direction:row;
      width:auto;
     
    }
    .navigation{
      width:auto;
      height:100vh;
    }
    nav{
      height:50px;
      width:95%;
    }
    .About{
     
      width:85%;
      margin:20px auto;
     display:flex;
     flex-direction: row;
     justify-content: space-between;
    }
    .about_image{
      display:flex;
      width:40%;
    }
    .about_data{
      width:55%;
      margin:80px 0px;
      text-align:left;
      align-items:flex-start;
    }
    .features_text{
      width:70%;
    }
    .roadmap_data_heading{
     
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }
    .benefits_list{
      width:50%;
      display:flex;
    }
    .benefits_details{
      width:48%;
      margin-top:20px;
        text-align:left;
      }
      .team_members{
        width:90%;
        margin:6% auto;
        display:flex;
        flex-direction:row;
        padding-top:15px;
        
      }
      .team_heading{
        justify-content:flex-start;
      }
      .team_text{
        text-align:left;
        margin:30px 0;
      }
      .team{
        text-align:left;
      }
      .email{
        width:500px;
      }
        .social_media_links{
          width:400px;
        }
        .features{
         
          background-size: cover;
        } 
        .benefits_heading{
          display:flex;
          align-items:center;
          justify-content:flex-start;
        }    
}

@media(min-width:1150px){
  .hero_box{
    margin:14% 25% 0px 15%;
    }
    #logo{
      width:10%;
      height:40px;
      
    }
    .features_text{
      width:65%;
    }
}
@media(min-width:1250px){
  .hero_box{
    margin:14% 30% 0px 15%;
    }
    .menu{
  
      width:40%;
    }

}
@media(min-width:1400px){
  .hero_box{
    margin:14% 35% 0px 15%;
    }

}